$mobile: 360px;
$tablet: 834px;
$laptop: 1440px;
$desktop: 1920px;

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  min-height: 420px;
  background: var(--background-card-color);
  padding: 2rem 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  color: var(--text-color);
}

/* stylelint-disable-next-line media-query-no-invalid */
@media screen and (width <= $mobile), screen and (width > $mobile) {
  .content {
    width: 328px;
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media screen and (width >= $tablet) {
  .content {
    width: 572px;
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media screen and (width >= $laptop) {
  .content {
    width: 524px;
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media screen and (width >= $desktop) {
  .content {
    width: 608px;
  }
}
