.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.filter {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.active {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color);
}
