@import url("assets/styles/variables/variables.scss");

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  color: var(--gray-50);
}
