.container {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  color: var(--primary-color);
  font-weight: 700;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.logout {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.logout:hover {
  text-decoration: none;
}
